.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  display: grid;
  grid-template-columns: 110px 140px auto auto 56px auto;
  gap: 12px;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  max-width: 85%;
  gap: 10px;
  min-height: 340px;
  padding: 0;
  margin: 0;
  align-items: flex-end;
}
